<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonVolver" href="/">inicio</a>
    </p>
    <br>
    <div style="display: flex; align-items: center; padding: 4px; text-align: center;">
        <form action="/movies/search" method="get">
            <input type="text" name="title" id="searchInput" style="padding: 0px 9px;">
            <button type="submit" style="background-color: #9714b3; color: white; padding: 5px; border-radius: 10px;">
                Buscar una película
            </button>
            
        </form>
    </div>
    <br>
    <% if (!locals.error) { %>
        <ul>
            <% if (!locals.apiMovies) { %>
                <% for( let i = 0; i < movies.length; i++ ) { %>
                    <li>
                        <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
                    </li>
                    <% } %>
            <% } else{ %>
                <% apiMovies.forEach(movie => { %>
                    <li><%= movie.Title %></li>
                <% }) %>
                <% } %>
        </ul>
    <% } else { %>
    <p> <%= locals.error ? locals.error : null %></p>
    <% } %>
    
</body>

</html>
