<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.Title %></title>
</head>
<body>
    <div style="text-align: center; color: red;">
        <p><%= movie.Title %></p>
    </div>

</body>
</html>